# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore environment variables or secret files
.env

# Ignore OS-specific files (macOS)
.DS_Store

# Ignore log files
*.log